{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}

<body>
    <h1>Besoin d'aide ?</h1>
    <p style="text-align: center;">Repassez plus tard, les administrateurs n'ont pas encore rédigé cette page !</p>
</body>
{% endblock %}